.Menu {
    background-color: #333;
    overflow: hidden;
}
.Menu button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border:none;
    outline:none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
}

.Menu button:hover {
    border-bottom: 3px solid deeppink;
}

.Menu button.active {
    border-bottom: 3px solid deeppink;
}