.Menu {
    background-color: #2196F3;
    overflow: hidden;
}
.Menu button {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border:none;
    outline:none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
}

.Menu select{
    float:right;
    margin-top:10px;
    margin-right: 10px;
    padding:5px;
    padding-left: 8px;
    border-radius: 20px;
}

.Menu button:hover {
    border-bottom: 3px solid deeppink;
    cursor: pointer;
}

.Menu button.active {
    border-bottom: 3px solid deeppink;
}