@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700');

.Header{
    display: block;
    background-color: #2196F3;
    line-height: 50px;
    height: 50px;
}

.Header h1{
    padding: 10px;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin:0;
}

.Header .logo{
    display: block;
    text-indent: 60px;
    width: 50px;
    height: 50px;
    background: url(logo.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
