@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700');

.Header{
    display: block;
    background-color: #333;
}

.Header h1{
    padding: 5px;
    color: #666;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.Header .logo{
    display: block;
    text-indent: 50px;
    width: 34px;
    height: 34px;
    background: url(logo.svg);
    background-size: 44px 44px;
}
